<template>
  <div>
    <sidebar active="mascotas"/>
    <main class="col-12 col-md-9 col-lg-10 offset-md-3 offset-lg-2 bg-faded">
      <alertas :success="success" :error="error"></alertas>
      <button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modalCrearMascota">
        Agregar nueva mascota
      </button>
      
      <table class="table table-bordered display" id="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Dueño</th>
            <th>Fecha de nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="filtrando">
            <tr>
              <td colspan="6">
                Buscando datos
              </td> 
            </tr>
          </template>

          <template v-else-if="!filtrando && Object.keys(rows).length>0">
            <tr v-for="(value, index) in rows">
              <td>{{ value.id }}</td>
              <td>{{ value.nombre }}</td>
              <td>{{ value._raza ? value._raza.nombre : '-' }}</td>
              <td>{{ value._persona ? value._persona.nombre_completo : '-' }}</td>
              <td>{{ value.fecha_nacimiento }}</td>
              <td>
                <button class="btn btn-primary btn-sm" title="Editar persona" @click="editar(index)">
                  <i class="fa fa-edit fa-fw"></i>
                </button>
                <button class="btn btn-danger btn-sm" title="Borrar persona" @click="eliminar(index)">
                  <i class="fa fa-trash fa-fw"></i>
                </button>
              </td>
            </tr>
          </template>

          <template v-else>
            <tr>
              <td colspan="6">
                Busqueda finalizada. No se han encontrado datos
              </td>
            </tr>
          </template>
        </tbody>
        
      </table>
    </main>

    <!-- CREAR -->
    <modal id="modalCrearMascota" type="crear">
      <template slot="header">
        Nueva mascota
      </template>
      <template slot="main">
        <div class="row">
          <div class="form-group col-12">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre" class="form-control" v-model="mascota.nombre" />
          </div>
          <div class="form-group col-12">
            <label>Fecha de nacimiento</label>
            <input type="date" placeholder="Fecha de nacimiento" class="form-control" v-model="mascota.fecha_nacimiento" />
          </div>
          <div class="form-group col-12">
            <label>Raza</label>
            <select class="form-control" placeholder="Seleccione la raza de la mascota" v-model="mascota.raza">
              <option v-for="option in selects.razas" v-bind:value="option.id">
                {{ option.nombre }}
              </option>
            </select>
          </div>
          <div class="form-group col-12">
            <label>Dueño</label>
            <select class="form-control" placeholder="Seleccione al dueño de la mascota" v-model="mascota.persona">
              <option v-for="option in selects.personas" v-bind:value="option.id">
                {{ option.nombre_completo }}
              </option>
            </select>
          </div>
        </div>
      </template>
      <template slot="footer">
        <button class="btn btn-success" @click="crear()">Guardar</button>
      </template>
    </modal>

    <!-- EDITAR -->
    <modal id="modalEditarMascota" type="editar">
        <template slot="header">
            Editar mascota #{{mascota.id}}
        </template>
        <template slot="main">
          <div class="row">
            <div class="form-group col-12">
              <label>Nombre</label>
              <input type="text" placeholder="Nombre" class="form-control" v-model="mascota.nombre" />
            </div>
            <div class="form-group col-12">
              <label>Fecha de nacimiento</label>
              <input type="date" placeholder="Fecha de nacimiento" class="form-control" v-model="mascota.fecha_nacimiento" />
            </div>
            <div class="form-group col-12">
              <label>Raza</label>
              <select class="form-control" placeholder="Seleccione la raza de la mascota" v-model="mascota.raza">
              <option v-for="option in selects.razas" v-bind:value="option.id">
                {{ option.nombre }}
              </option>
            </select>
            </div>
            <div class="form-group col-12">
              <label>Dueño</label>
              <select class="form-control" placeholder="Seleccione al dueño de la mascota" v-model="mascota.persona">
              <option v-for="option in selects.personas" v-bind:value="option.id">
                {{ option.nombre_completo }}
              </option>
            </select>
            </div>
          </div>
        </template>
        <template slot="footer">
            <button class="btn btn-success" @click="actualizar()">Guardar</button>
        </template>
    </modal>
  </div>
</template>

<script>

import dataTableLanguaje from '_config/dataTableLanguaje.js';

export default {
  name: 'Razas',
  data() {
    return {
      error: [],
      success: [],
      base_url: this.$root.app_url + 'mascotas',
      filtrando: true,
      rows: [],
      selects: {
        personas: [],
        razas: []
      },
      mascota: {
        id: null,
        key: null,
        nombre: null,
        fecha_nacimiento: null,
        raza: null,
        persona: null
      }
    }
  },
  mounted() {
    this.filtrar();
  },
  methods: {
    limpiarMensajes() {
      this.success = [];
      this.error = [];
    },
    limpiarMascota() {
      this.mascota = {
        id: null,
        key: null,
        nombre: null,
        fecha_nacimiento: null,
        raza: null,
        persona: null
      }
    },
    activeDataTable() {
      $(function() {
        $('#table').DataTable({
          "language": dataTableLanguaje,
          "columnDefs": [
            { "orderable": false, "targets": 5 }
          ],
          "order": [[0, "desc" ]] 
        });
      });
    },
    filtrar() {
      this.$http.post(this.base_url)
      .then(response => {
        this.rows = response.data.mascotas;
        this.selects.razas = response.data.razas;
        this.selects.personas = response.data.personas;

        if(this.rows.length > 0) {
          this.activeDataTable()
        }
      })
      .catch(error => {

      })
      .finally(() => {
        this.filtrando = false;
      })
    },
    crear() {
      this.limpiarMensajes();
      let load = loading(this);

      let request = new FormData;
      this.mascota.nombre && request.append('nombre', this.mascota.nombre);
      this.mascota.fecha_nacimiento && request.append('fecha_nacimiento', this.mascota.fecha_nacimiento);
      this.mascota.raza && request.append('raza_id', this.mascota.raza);
      this.mascota.persona && request.append('persona_id', this.mascota.persona);

      this.$http.post(this.base_url + '/guardar', request)
      .then(response => {
        this.success.push(response.data.success);
        this.rows.unshift(response.data.mascota);

        if(this.rows.length == 1) {
          this.activeDataTable();
        }
      })
      .catch(error => {
        this.error = this.$root.arrayResponse(error);
      })
      .finally(() => {
        load.hide();
        this.limpiarMascota();
        $('#modalCrearMascota').modal('hide');
      })
    },
    editar(key) {
      let mascota = this.rows[key];
      this.mascota.key = key;
      this.mascota.id = mascota.id;
      this.mascota.nombre = mascota.nombre;
      this.mascota.fecha_nacimiento = mascota.fecha_nacimiento;
      this.mascota.raza = mascota._raza.id;
      this.mascota.persona = mascota._persona.id;
      $('#modalEditarMascota').modal();
      $('#modalEditarMascota').on('hide.bs.modal', () => {
        this.limpiarMascota();
      });
    },
    actualizar() {
      this.limpiarMensajes();
      let load = loading(this);

      let key = this.mascota.key;
      let request = new FormData;

      this.mascota.id && request.append('id', this.mascota.id);
      this.mascota.nombre && request.append('nombre', this.mascota.nombre);
      this.mascota.fecha_nacimiento && request.append('fecha_nacimiento', this.mascota.fecha_nacimiento);
      this.mascota.raza && request.append('raza_id', this.mascota.raza);
      this.mascota.persona && request.append('persona_id', this.mascota.persona);

      this.$http.post(this.base_url + '/actualizar', request)
      .then(response => {
        this.success.push(response.data.success);
        this.rows[key] = response.data.mascota;
      })
      .catch(error => {
        this.error = this.$root.arrayResponse(error);
      })
      .finally(() => {
        load.hide();
        $('#modalEditarMascota').modal('hide');
      })
    },
    eliminar(key) {
        this.limpiarMensajes();

        let mascota = this.rows[key];
        this.$swal({
          text: '¿Esta seguro que desea eliminar la mascota llamada "' + mascota.nombre + '"?',
          icon: 'warning',
          showConfirmButton: true,
          showCancelButton: true,
        }).then(response => {
          if(response.value) {
            let load = loading(this);

            this.$http.post(this.base_url + '/eliminar', {'id': mascota.id})
            .then(response => {
              this.success.push(response.data.success);
              this.rows.splice(key, 1);
            })
            .catch(error => {
              this.error = this.$root.arrayResponse(error);
            })
            .finally(() => {
               load.hide();
            })
          }
        });
      },
  }
}
</script>

<style scoped>
  main {
    padding: 2rem;
  }

  label {
    float: left;
  }

  @media (max-width: 768px) {
    main {
      margin-top: 60px;
      padding: 1.5rem;
    }
  }
</style>