<template>
  <div>
    <sidebar active="personas"/>
    <main class="col-12 col-md-9 col-lg-10 offset-md-3 offset-lg-2 bg-faded">
      <alertas :success="success" :error="error"></alertas>
      <button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modalCrearPersona">
        Agregar nueva persona
      </button>
      
      <table class="table table-bordered display" id="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="filtrando">
            <tr>
              <td colspan="5">
                Buscando datos
              </td> 
            </tr>
          </template>

          <template v-else-if="!filtrando && Object.keys(rows).length>0">
            <tr v-for="(value, index) in rows">
              <td>{{ value.id }}</td>
              <td>{{ value.nombre }}</td>
              <td>{{ value.apellido }}</td>
              <td>{{ value.correo }}</td>
              <td>
                <button class="btn btn-primary btn-sm" title="Editar persona" @click="editar(index)">
                  <i class="fa fa-edit fa-fw"></i>
                </button>
                <button class="btn btn-danger btn-sm" title="Borrar persona" @click="eliminar(index)">
                  <i class="fa fa-trash fa-fw"></i>
                </button>
              </td>
            </tr>
          </template>

          <template v-else>
            <tr>
              <td colspan="5">
                Busqueda finalizada. No se han encontrado datos
              </td>
            </tr>
          </template>
        </tbody>
        
      </table>
    </main>

    <!-- CREAR -->
    <modal id="modalCrearPersona" type="crear">
      <template slot="header">
        Nueva persona
      </template>
      <template slot="main">
        <div class="row">
          <div class="form-group col-12">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre" class="form-control" v-model="persona.nombre" />
          </div>
          <div class="form-group col-12">
            <label>Apellido</label>
            <input type="text" placeholder="Apellido" class="form-control" v-model="persona.apellido" />
          </div>
          <div class="form-group col-12">
            <label>Correo</label>
            <input type="email" placeholder="Correo" class="form-control" v-model="persona.correo"/>
          </div>
        </div>
      </template>
      <template slot="footer">
        <button class="btn btn-success" @click="crear()">Guardar</button>
      </template>
    </modal>

    <!-- EDITAR -->
    <modal id="modalEditarPersona" type="editar">
        <template slot="header">
            Editar persona #{{persona.id}}
        </template>
        <template slot="main">
          <div class="row">
            <div class="form-group col-12">
              <label>Nombre</label>
              <input type="text" placeholder="Nombre" class="form-control" v-model="persona.nombre" />
            </div>
            <div class="form-group col-12">
              <label>Apellido</label>
              <input type="text" placeholder="Apellido" class="form-control" v-model="persona.apellido" />
            </div>
            <div class="form-group col-12">
              <label>Correo</label>
              <input type="email" placeholder="Correo" class="form-control" v-model="persona.correo" />
            </div>
          </div>
        </template>
        <template slot="footer">
            <button class="btn btn-success" @click="actualizar()">Guardar</button>
        </template>
    </modal>
  </div>
</template>

<script>

import dataTableLanguaje from '_config/dataTableLanguaje.js';

export default {
  name: 'Personas',
  data() {
    return {
      error: [],
      success: [],
      base_url: this.$root.app_url + 'personas',
      filtrando: true,
      rows: [],
      persona: {
        id: null,
        key: null,
        nombre: null,
        apellido: null,
        corrreo: null
      }
    }
  },
  mounted() {
    this.filtrar();
  },
  methods: {
    limpiarMensajes() {
      this.success = [];
      this.error = [];
    },
    limpiarPersona() {
      this.persona = {
        id: null,
        key: null,
        nombre: null,
        apellido: null,
        corrreo: null
      }
    },
    activeDataTable() {
      $(function() {
        $('#table').DataTable({
          "language": dataTableLanguaje,
          "columnDefs": [
            { "orderable": false, "targets": 4 }
          ],
          "order": [[0, "desc" ]] 
        });
      });
    },
    filtrar() {
      this.$http.post(this.base_url)
      .then(response => {
        this.rows = response.data.personas;

        if(this.rows.length > 0) {
          this.activeDataTable();
        }
      })
      .catch(error => {

      })
      .finally(() => {
        this.filtrando = false;
      })
    },
    crear() {
      this.limpiarMensajes();
      let load = loading(this);

      let request = new FormData;
      this.persona.nombre && request.append('nombre', this.persona.nombre);
      this.persona.apellido && request.append('apellido', this.persona.apellido);
      this.persona.correo && request.append('correo', this.persona.correo);

      this.$http.post(this.base_url + '/guardar', request)
      .then(response => {
        this.success.push(response.data.success);
        this.rows.unshift(response.data.persona);

        if(this.rows.length == 1) {
          this.activeDataTable();
        }
      })
      .catch(error => {
        this.error = this.$root.arrayResponse(error);
      })
      .finally(() => {
        load.hide();
        this.limpiarPersona();
        $('#modalCrearPersona').modal('hide');
      })
    },
    editar(key) {
      let persona = this.rows[key];
      this.persona.key = key;
      this.persona.id = persona.id;
      this.persona.nombre = persona.nombre;
      this.persona.apellido = persona.apellido;
      this.persona.correo = persona.correo;
      $('#modalEditarPersona').modal();
      $('#modalEditarPersona').on('hide.bs.modal', () => {
        this.limpiarPersona();
      });
    },
    actualizar() {
      this.limpiarMensajes();
      let load = loading(this);

      let key = this.persona.key;
      let request = new FormData;

      this.persona.id && request.append('id', this.persona.id);
      this.persona.nombre && request.append('nombre', this.persona.nombre);
      this.persona.apellido && request.append('apellido', this.persona.apellido);
      this.persona.correo && request.append('correo', this.persona.correo);

      this.$http.post(this.base_url + '/actualizar', request)
      .then(response => {
        this.success.push(response.data.success);
        this.rows[key] = response.data.persona;
      })
      .catch(error => {
        this.error = this.$root.arrayResponse(error);
      })
      .finally(() => {
        load.hide();
        $('#modalEditarPersona').modal('hide');
      })
    },
    eliminar(key) {
        this.limpiarMensajes();

        let persona = this.rows[key];
        this.$swal({
          text: '¿Esta seguro que desea eliminar a "' + persona.nombre + '" y todas sus mascotas asociadas?',
          icon: 'warning',
          showConfirmButton: true,
          showCancelButton: true,
        }).then(response => {
          if(response.value) {
            let load = loading(this);

            this.$http.post(this.base_url + '/eliminar', {'id': persona.id})
            .then(response => {
              this.success.push(response.data.success);
              this.rows.splice(key, 1);
            })
            .catch(error => {
              this.error = this.$root.arrayResponse(error);
            })
            .finally(() => {
               load.hide();
            })
          }
        });
      },
  }
}
</script>

<style scoped>
  main {
    padding: 2rem;
  }

  label {
    float: left;
  }

  @media (max-width: 768px) {
    main {
      margin-top: 60px;
      padding: 1.5rem;
    }
  }
</style>