<template>
  <div>
    <sidebar active="razas"/>
    <main class="col-12 col-md-9 col-lg-10 offset-md-3 offset-lg-2 bg-faded">
      <alertas :success="success" :error="error"></alertas>
      <button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modalCrearRaza">
        Agregar nueva raza
      </button>
      
      <table class="table table-bordered display" id="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="filtrando">
            <tr>
              <td colspan="3">
                Buscando datos
              </td> 
            </tr>
          </template>

          <template v-else-if="!filtrando && Object.keys(rows).length>0">
            <tr v-for="(value, index) in rows">
              <td>{{ value.id }}</td>
              <td>{{ value.nombre }}</td>
              <td>
                <button class="btn btn-primary btn-sm" title="Editar raza" @click="editar(index)">
                  <i class="fa fa-edit fa-fw"></i>
                </button>
              </td>
            </tr>
          </template>

          <template v-else>
            <tr>
              <td colspan="3">
                Busqueda finalizada. No se han encontrado datos
              </td>
            </tr>
          </template>
        </tbody>
        
      </table>
    </main>

    <!-- CREAR -->
    <modal id="modalCrearRaza" type="crear">
      <template slot="header">
        Nueva raza
      </template>
      <template slot="main">
        <div class="row">
          <div class="form-group col-12">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre" class="form-control" v-model="raza.nombre" />
          </div>
        </div>
      </template>
      <template slot="footer">
        <button class="btn btn-success" @click="crear()">Guardar</button>
      </template>
    </modal>

    <!-- EDITAR -->
    <modal id="modalEditarRaza" type="editar">
        <template slot="header">
            Editar raza #{{raza.id}}
        </template>
        <template slot="main">
          <div class="row">
            <div class="form-group col-12">
              <label>Nombre</label>
              <input type="text" placeholder="Nombre" class="form-control" v-model="raza.nombre" />
            </div>
          </div>
        </template>
        <template slot="footer">
            <button class="btn btn-success" @click="actualizar()">Guardar</button>
        </template>
    </modal>
  </div>
</template>

<script>

import dataTableLanguaje from '_config/dataTableLanguaje.js';

export default {
  name: 'Razas',
  data() {
    return {
      error: [],
      success: [],
      base_url: this.$root.app_url + 'razas',
      filtrando: true,
      rows: [],
      raza: {
        id: null,
        key: null,
        nombre: null
      }
    }
  },
  mounted() {
    this.filtrar();
  },
  methods: {
    limpiarMensajes() {
      this.success = [];
      this.error = [];
    },
    limpiarRaza() {
      this.raza = {
        id: null,
        key: null,
        nombre: null
      }
    },
    activeDataTable() {
      $(function() {
        $('#table').DataTable({
          "language": dataTableLanguaje,
          "columnDefs": [
            { "orderable": false, "targets": 2 }
          ],
          "order": [[0, "desc" ]] 
        });
      });
    },
    filtrar() {
      this.$http.post(this.base_url)
      .then(response => {
        this.rows = response.data.razas;

        if(this.rows.length > 0) {
            this.activeDataTable()
        }
      })
      .catch(error => {

      })
      .finally(() => {
        this.filtrando = false;
      })
    },
    crear() {
      this.limpiarMensajes();
      let load = loading(this);

      let request = new FormData;
      this.raza.nombre && request.append('nombre', this.raza.nombre);

      this.$http.post(this.base_url + '/guardar', request)
      .then(response => {
        this.success.push(response.data.success);
        this.rows.unshift(response.data.raza);

        if(this.rows.length == 1) {
          this.activeDataTable();
        }
      })
      .catch(error => {
        this.error = this.$root.arrayResponse(error);
      })
      .finally(() => {
        load.hide();
        this.limpiarRaza();
        $('#modalCrearRaza').modal('hide');
      })
    },
    editar(key) {
      let raza = this.rows[key];
      this.raza.key = key;
      this.raza.id = raza.id;
      this.raza.nombre = raza.nombre;
      $('#modalEditarRaza').modal();
      $('#modalEditarRaza').on('hide.bs.modal', () => {
        this.limpiarRaza();
      });
    },
    actualizar() {
      this.limpiarMensajes();
      let load = loading(this);

      let key = this.raza.key;
      let request = new FormData;

      this.raza.id && request.append('id', this.raza.id);
      this.raza.nombre && request.append('nombre', this.raza.nombre);

      this.$http.post(this.base_url + '/actualizar', request)
      .then(response => {
        this.success.push(response.data.success);
        this.rows[key] = response.data.raza;
      })
      .catch(error => {
        this.error = this.$root.arrayResponse(error);
      })
      .finally(() => {
        load.hide();
        $('#modalEditarRaza').modal('hide');
      })
    },
  }
}
</script>

<style scoped>
  main {
    padding: 2rem;
  }

  label {
    float: left;
  }

  @media (max-width: 768px) {
    main {
      margin-top: 60px;
      padding: 1.5rem;
    }
  }
</style>