<template>
    <div class="modal" data-backdrop="static" data-keyboard="false" :id="_id" >
        <div class="modal-dialog" :class="_size">
            <div class="modal-content" :class="_size">
                <div class="modal-header" :class="_headerColor">
                    <h5 class="title"><slot name="header"></slot></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                     <slot name="main"></slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer"></slot>
                    <button class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'id',
            'size',
            'type'
        ],
        computed: {
            _id: function() {
                return this.id ? this.id : 'customModal';
            },
            _size: function() {
                return this.size ? this.size : 'modal-md';
            },
            _headerColor: function() {
                let background = '';
                switch(this.type) {
                    case 'crear':
                        background += 'bg-info text-white';
                        break;
                    case 'editar':
                        background += 'bg-info text-white';
                        break;
                }
                return background;
            }
        },
    };
</script>

<style>
    .modal .modal-header {
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }

    .modal .modal-header .title {
        margin: 0;
    }
</style>