<template>
  <div id="app">
    <!-- <nav class="navbar navbar-dark navbar-response bg-green-dark text-white w-100">
        <a class="navbar-brand" href="#">
            <i class="fa fa-diamond fa-fw"></i>
            Veterinaria
        </a>
    </nav> -->
    <div id="main">
      <router-view />
    </div>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

</style>
