<template>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-12 col-md-3 col-lg-2 p-0 bg-dark fixed-top">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start text-left py-2">
                    <div class="collapse navbar-collapse align-items-start">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                            <li class="nav-item pb-sm-3">
                                <a class="navbar-brand" href="/">
                                    <i class="fa fa-diamond fa-fw"></i>
                                    Veterinaria
                                </a>
                            </li>
                            <li class="nav-item" :class="{'active': this.$props.active == 'personas'}">
                                <a class="nav-link pl-0" href="/"><i class="fa fa-user-o fa-fw"></i> <span class="d-none d-md-inline">Persona</span></a>
                            </li>
                            <li class="nav-item" :class="{'active': this.$props.active == 'mascotas'}">
                                <a class="nav-link pl-0" href="/mascotas"><i class="fa fa-paw fa-fw"></i> <span class="d-none d-md-inline">Mascotas</span></a>
                            </li>
                            <li class="nav-item" :class="{'active': this.$props.active == 'razas'}">
                                <a class="nav-link pl-0" href="/razas"><i class="fa fa-heart fa-fw"></i> <span class="d-none d-md-inline">Razas</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </aside>
        </div>
    </div>
</template>

<script type="text/javascript">
    export default({
        props: {
            active: {
                type: String
            }
        }
    });
</script>

<style scoped>
    body, html {
        height: 100%;
    }

  @media (min-width: 768px) {

    aside {
        position: fixed;
        height: 100%;
    }

  }
</style>